@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 500;
    src: url(../assets/fonts/SpaceGrotesk-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    src: url(../assets/fonts/SpaceGrotesk-Bold.ttf) format('truetype');
  }
}
